@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Macondo&display=swap');

body{
    background-color: #EDF2F4;
    font-family: 'Didact Gothic', sans-serif;
}

header{
    width: 100%;
    height: 50rem;
    align-items: center;
}

header nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 2rem;
    align-items: center;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
    color: #D80032;
}

header nav ul{
    display: flex;  
    width: 60%;
    justify-content: end;
    align-items: center;
    height: 3rem;
}

header nav ul li{
    list-style: none;
    margin: 0 1rem;
}

header nav ul li a{
    text-decoration: none;
    margin: 0 1rem;
    color: #D80032;
}

header nav ul li a:hover{
    font-size: 1.5rem;
    color: #2B2D42;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#presentacion{
    display: flex;
    width: 100%;
    height: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bloque {
    margin: 20px 0 0 35px;
}

.bloque h1 {
    margin: 0 0 18px 0;
    font-size: 46px;
    font-weight: 300;
    color: #111;
    text-transform: uppercase;
}

.linea {
    width: 325px;
    height: 4px;
    background: #D80032;
    margin-bottom: 80px;
}

#presentacion ul{
    display: flex;
    width: 50%;
    gap: 10px;
    align-items: center;
    justify-content: center;
  
}

#presentacion h1{
    font-size: 3rem;
}

#presentacion p{
    font-size: 1.5rem;
}

#presentacion ul li{ 
    list-style: none;
}

#minimalista{
    width:  90%;
    padding: 20px;
}

#minimalista h2{
    font-size: 2rem;
}

#SobreMi{
    display: flex;
    width: 100%;
    height: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#SobreMi h2{
    font-size: 3rem;
}

.contenedor_texto{
    width: 80%;
}

.contenedor_texto p{
    margin-bottom: 3rem;
}

.boton_about{
    width: 6rem;
    height: 2rem;
}

#servicios{
    margin-top: 5rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.carta{
    width: 35rem;
    height: 15rem;
    margin: 30px;
    background-color: #8d99ae14;
    border-radius: 10px;
    box-shadow: 0px 3px 1px #D80032;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#habilidades{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contenedor_habilidades{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor_skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarjeta_skill{
    width: 10rem;
    height: 15rem;
}

.tarjeta_skill img{
    width: 80px;
}

#contactanos{
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
}

#contactanos h2{
    font-size: 3rem;
}
#contactanos p{
    margin-bottom: 100px;
}

#formulario{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#formulario label{
    width: 70%;
}

#formulario input{
    width: 70%;
    border: none;
    border-bottom: 2px solid #D80032;
    background: transparent;
    outline: none;
    font-size: 18px;
    color: #9aa0a6;
    margin-bottom: 30px;
    padding: 10px 5px;
}

.mensaje{
    height: 200px;
}

.boton{
    width: 330px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #D80032;
    color: #9aa0a6;
    font-size: 14px;
    padding: 10px 5px;
    text-align: left;
    cursor: pointer;
    text-align: center;
}

